
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}
:root{
    /* --rotate:rotate linear 2s infinite; */
    --anim:none;
    --anim-color:36, 255, 0;
    --bgcolor:black;
    --green:rgb(23, 214, 23);
    --padlock:0;
    --padlock-anim:open;
    --padlock-border-visible:3px solid #eeef;
    --padlock-border-hidden:3px solid #eee0;
    --padlock-bg:linear-gradient(0deg, rgb(75, 18, 2) 0%, rgb(108, 61, 3) 35%, rgb(195, 62, 5) 100%);
    --but-hover-color:rgb(146, 255, 146);
    --but-hover-border:rgb(146, 255, 146);
    --but-hover-bshadow: 0 0 5px 1px var(--green);
    --but-hover-tshadow: -1px 0 var(--green), 0 1px var(--green), 1px 0 var(--green), 0 -1px var(--green);
    --copy-anim:none;
    /* --but-clicked:button-clicked .5s; */
    
}

.body{
    background-color: var(--bgcolor);
}
.main{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1%;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.padlock{
    position: absolute;
    width: 1.5%;
    height: 2.5%;
    border-radius: 50%;
    background-color: black;
    left: 4.5%;
    top: 44%;
    z-index: 4;
    border: 1px solid #fffd;
    border-bottom: none;
    transition: all 1s ease;
    opacity: var(--padlock);
}
.padlock::before{
    content: "";
    position: absolute;
    width: 70%;
    height: 200%;
    border-radius: 30%;
    background-color: black;
    left: 15%;
    top: 10%;
    border-bottom: 2px solid #fff8;
    transition: all 1s ease;
    opacity: var(--padlock);
}
.main::before{
    content: "";
    width: 5%;
    height: 10%;
    background: rgb(4,75,2);
    background: var(--padlock-bg);  
    position: absolute;
    left: 2.7%;
    top: 41%;
    border-radius: 50% 50% 20% 20%;
    z-index: 3;
    border-top: 2px solid #fff8;
    border-bottom: 2px solid #0008;
    outline: 1px solid white;
    transition: all 1s ease;
    opacity: var(--padlock);

}
.main::after{
    content: "";
    width: 2.5%;
    height: 7%;
    border: 5px solid #eee;
    border-bottom: none;
    border-left: var(--padlock-border);
    position: absolute;
    left: 4%;
    top: 38%;
    border-radius: 30% 30% 0 0;
    z-index: 2;
    transition: opacity 1s ease;
    opacity: var(--padlock);
    animation:var(--padlock-anim) 2s forwards;
}
@keyframes open {
    0%{
        border-left: var(--padlock-border-visible);
        top: 38%;
    }
    20%{
        border-left: var(--padlock-border-visible);
        
    }
    100%{
        border-left: var(--padlock-border-hidden);
        top: 37%;
        transform: rotate(10deg);
    }
}
@keyframes close {
    
    0%{
        border-left: var(--padlock-border-hidden);
        top: 37%;
        transform: rotate(10deg);
    }
    
    100%{
        border-left: var(--padlock-border-visible);
        top: 38%;
        /* transform: rotate(-5deg); */
    }
}
.transfer{
    width: 80%;
    /* height: 60%; */
    height: 60%;
    border: 3px solid black;
    background:linear-gradient(90deg, rgba(160, 160, 160, 1) 1%, rgba(97, 97, 97, 1) 8%);
    position: absolute;
    top: 15%;
    left: 4%;
    z-index: -3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.transfer::after{
    content: "";
    width: 100%;
    height: 88%;
    background-color: var(--bgcolor);
    z-index: -1;
    position: absolute;
    top: 6%;
    left: 2.5%;
    border: 3px solid black inset;
    border-right: none;
    border-radius: 10px;

}
.transfer::before{
    content: "";
    width: 300%;
    height: 300%;
    background-image:conic-gradient(from 339deg at 50% 50%, rgba(36, 255, 0, 0) 0%, rgba(var(--anim-color), 0.49) 2%, rgba(var(--anim-color), 1) 6%, rgba(238, 130, 238, 0) 27%);
    position: absolute;
    z-index: -2;
    /* animation: rotate linear 2s infinite; */
    animation: var(--rotate);
    transition: all 1s;
    /* box-shadow: 0px 0px 500px red; */

}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-220deg);
    }
}
.cont{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.buttons-container{
    width: 100%;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
}
.copy-cont{
    justify-content: center;
}
.txt-area{
    resize: none;
    width: 100%;
    height: 18vw;
    min-width: 150px;
    border-radius: 1em;
    padding: .5em;
    border: 2px solid var(--green);
    box-shadow: 0px 0px 20px 5px green;
    position: relative;
    background-color: #333;
    color: var(--green);
    font-size: 1.5vw;
    /* text-align: justify;
    text-justify: distribute; */
}

#msg-input{
    text-indent: 2em;
}
#msg-output{
    user-select: none;
    cursor: default;
    
}
#msg-output:focus{
    outline: none;
    
}
#msg-output::selection{
    background: none;
    color: var(--green);
    
}
#msg-input:focus{
    outline: 1px solid rgb(146, 255, 146);
    
}
.input-container{
    position: relative;
}
.input-container::before{
    content: "> :";
    width: fit-content;
    font-weight: bolder;
    position: absolute;
    font-size: 1.5vw;
    color: var(--green);
    left: .6em;
    top: .62em;
    z-index: 3;
}
.button{
    padding: .2em .5em;
    border-radius: .3em;
    margin: .7em 0;
    margin-left: 5%;
    z-index: 20;
    font-size: 1.5vw;
    background-color: #0000;
    border: 2px dashed var(--green);
    color: var(--green);
    cursor: pointer;
    animation:none;
}
.button:hover{
    border-color: var(--but-hover-border);
    color: var(--but-hover-color);
    box-shadow: var(--but-hover-bshadow);
    text-shadow: var(--but-hover-tshadow);
    transition: all .2s;
}
.button:focus{
    outline: 1px double rgb(146, 255, 146);
    
}
@keyframes button-clicked {
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}

}
.button+.button{
    margin-left: 0;
    margin-right: 5%;
}
#butcopy{
    margin: .5em 0;
    position: relative;
}
#butcopy::before{
    content: "¡Copiado!";
    width: fit-content;
    padding: .1em .3em;
    position: absolute;
    top: -3em;
    left: -.83em;
    color: rgb(254, 222, 163);
    border: 2px dashed rgb(255, 188, 63);
    box-shadow: 0 0 5px 1px orange;
    background-color: black;
    text-shadow:-1px 0 2px orange, 0 1px 2px orange, 1px 0 2px orange, 0 -1px 2px orange;
    font-weight: bolder;
    visibility: hidden;
    animation: var(--copy-anim);
}
#butcopy::after{
    content: "";
    width: 1em;
    height: 1em;
    border: 2px dashed rgb(255, 188, 63);
    border-top: none;
    border-right: none;
    position: absolute;
    transform: rotate(-45deg);
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 44%, rgba(0,0,0,0) 55%); 
    box-shadow: -2px 2px 1px 0px orange;
    top: -2.02em;
    left: 1.6em;
    visibility: hidden;
    animation: var(--copy-anim);
}
@keyframes display-copy {
    0%{
        visibility: visible;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }

}


@media (max-width:650px) {
    .buttons-container{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em 0;
    }
    .button{
        width: fit-content;
        margin:0;
        font-size: 1rem;
    }
    .button+.button{
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
    }
    .txt-area{
        height: 15em;
        font-size: 1rem;
    }
    .transfer{
        left: 0;
    }
    .transfer::after{
        left: 5%;
    }
    .main::before{
        width: 40px;
        height: 40px;
        left: -10px;
    }
    .main::after{
        width: 20px;
        height: 35px;
        border-width: 3px;
        left: 0px;
        top: 40%;
    }
    @keyframes open {
        0%{
            border-left: var(--padlock-border-visible);
            top: 39%;
        }
        20%{
            border-left: var(--padlock-border-visible);
            
        }
        100%{
            border-left: var(--padlock-border-hidden);
            top: 38%;
            transform: rotate(10deg);
        }
    }
    @keyframes close {
        
        0%{
            border-left: var(--padlock-border-hidden);
            top: 38%;
            transform: rotate(10deg);
        }
        
        100%{
            border-left: var(--padlock-border-visible);
            top: 39%;
            /* transform: rotate(-5deg); */
        }
    }
    .padlock{
        width: 10px;
        height: 10px;
        left: 5px;
        top: 42.5%;
        border: 1px solid #fffa;

    }
    .input-container::before{
        font-size: 1rem;
    }

}